span{
  color:blue;
}
span.oa{
  height:300px;
}
pan.abc{
  color:red;
}
main h3{
  background-color: black;
  color: white;
}
span.da{
  color:purple;
}
video.op{
  width: 600px;
}
span.ip{
  color:green;
}
h3.qr{
  background-color: brown;
}
span.dg{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: blueviolet;
  color: red;
  font-weight: bold;
  padding: 5px;
  border: cyan;
  margin: 0 auto;
}
span.or{
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: da Sans', 'Lucida Sans Regular', 'Lucida Grande';
}